<script src="javascripts/vendor/zepto.min.js"></script>
<script src="javascripts/vendor/handlebars-v4.0.5.js"></script>
<script src="https://cdn.socket.io/socket.io-1.4.5.js"></script>
<script src="javascripts/index_page.js"></script>
<script id="entry-template" type="text/x-handlebars-template">
    \{{#if games}}
        \{{#each games as |game i|}}
        <tr>
            <td class="padded">\{{game.name}}</td>
            <td><button class="padded" onclick="joinGame('\{{game.id}}')" \{{#if game.disabled}}disabled\{{/if}}>Join</button></td>
        </tr>
        \{{/each}}

    \{{else}}
        <p class="padded">No games yet!</p>
    \{{/if}}
</script>

<h1>{{title}}</h1>
<br />
<fieldset class="centered">
    <legend>Select or create a new game</legend>

    <br />
    <label for="player">Name: </label><input id="player" name="player" type="text" required />

    <br /><br />
    <table id="gameList" class="gameTable" border="1"></table>
    <br />
    <button id="newGame" onclick="newGame()">New Game</button>
    <button id="refresh" onclick="refreshGames()">Refresh Game List</button>
    <br /><br />
</fieldset>