<script src="javascripts/vendor/zepto.min.js"></script>
<script src="javascripts/vendor/handlebars-v4.0.5.js"></script>
<script src="javascripts/index_page.js"></script>
<script id="entry-template" type="text/x-handlebars-template">
    \{{#each games as |game i|}}
    <tr>
        <td>\{{game.name}}</td>
        <td><button onclick="joinGame(\{{game.id}})">Join</button></td>
    </tr>
    \{{/each}}
</script>

<h1>{{title}}</h1>
<p>Select or create a new game</p>

<button id="newGame" onclick="newGame()">New Game</button>

<table id="gameList" border="1"></table>
<button id="refresh" onclick="refreshGames()">Refresh Game List</button>
